<meta charset="UTF-8">
<title>{{ page.title }} | {{ site.title }}</title>
<meta name="author" content="{{ site.author.name }}">
{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
{% endif %}
{% if page.description  %}
  <meta name="description " content="{{ page.description  }}">
{% endif %}
<link rel="shortcut icon" href="{{ site.favicon }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/public/css/bootstrap.css">
<link rel="stylesheet" href="/public/css/font-awesome.css">
<link rel="stylesheet" href="/public/js/prettify/prettify.css">
<link rel="stylesheet" href="/public/css/base.css">
<link href="/pages/atom.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">
<script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        "HTML-CSS": { extensions: ["handle-floats.js"] },
        TeX: { equationNumbers: { autoNumber: "AMS" } },
        tex2jax: {
            inlineMath: [['$$$', '$$$'], ['$', '$'], ['\\(', '\\)']],
            processEscapes: true
        }
    });
</script>
<script type="text/javascript" src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" data-no-instant></script>
<script type="text/javascript">
  $(document).on({
    /*pjax请求回来页面后触发的事件*/
    'pjax:end': function () {
        /*渲染MathJax数学公式*/
        $.getScript('//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML',function () {
            MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
        });
    }
});
</script>


