<!DOCTYPE html>
<html>
<head>
  {% include header.html %}
</head>
<body>
  <div class="container">
    <div class="row">
      {% include navside.html %}
      <div class="col-md-13 col-lg-13 col-sm-13 col-xs-13 aside3">
        <div id="container">
          <div id="pjax">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  {% include googleanalytics.html %}
  
  <script data-no-instant>
    InstantClick.on('change', function(isInitialLoad) {
        if (isInitialLoad === false) {
            if (typeof MathJax !== 'undefined') 
                MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
            if (typeof Prism !== 'undefined') 
                Prism.highlightAll(true,null);
            if (typeof ga !== 'undefined') 
                ga('send', 'pageview', location.pathname + location.search);
        }
    });
    InstantClick.init();
</script>

</body>
</html>